 body{
    background-color: #1B1c1b;
    color: white;
 }
 
 h1{
    text-align: center;
}
.video{ 
    width: 560px; 
    margin: auto;
}

.link{
    width: 100%;
    text-align: center;
}

.link a{
    color: white;
    
    
}

